<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogs.mapper.MessageBoardMapper">


    <select id="selectAllAndFromId" resultMap="findFromId">
        SELECT *
        FROM message_board
        WHERE find_account_board = #{findAccountBoard}
          and to_id = #{toId}
          and msg_type = #{msgType}
        ORDER BY create_time DESC
        LIMIT #{startRow}, #{pageSize}
    </select>

    <resultMap id="findFromId" type="com.blogs.entity.MessageBoard">
        <id column="id" property="id"/>
        <result column="from_id" property="fromId"/>
        <result column="to_id" property="toId"/>
        <result column="content" property="content"/>
        <result column="msg_type" property="msgType"/>
        <result column="update_time" property="updateTime"/>
        <association property="toIdDetail" select="com.blogs.mapper.UserMapper.selectById" column="from_id"
                     javaType="com.blogs.entity.User"/>
    </resultMap>
</mapper>